<form {{ attributes }}>
      <div class="form-group col">
          <div class="ui-input-group field-option flex align-items-center">
              Tùy chọn của bạn cho khóa học này: {{ element.field_option }}
          </div>
      </div>
      <p class="description">Nếu bạn đã có tài khoản, hãy <a href="{{base_url}}/user/login">Đăng nhập</a>. Hoặc <a href="{{base_url}}/user/register">Đăng ký tài khoản</a>.<br>
        Hoặc để lại thông tin liên hệ của bạn theo form dưới đây. Chúng tôi sẽ tư vấn và giúp bạn đăng ký khóa học đơn giản và nhanh chóng.</p>
      <div class="dang-ky-khoa-hoc">
        <h4>Đăng ký khóa học</h4>
        <div class="form-group col">
          <div class="ui-input-group">
            {{ element.field_ten_cua_ban }}
            </div>
        </div>
        <div class="form-group col">
            <div class="ui-input-group">
                {{ element.field_phone }}
            </div>
        </div>
        <div class="form-group col">
            <div class="ui-input-group">
            {{ element.field_email }}
            </div>
        </div>
      </div>
      <div class="form-group checkbox-field chinh-sach">
          {{ element.field_policy }}
      </div>
      {{ element.actions.submit }}
    </div>
    {{ element.form_build_id }} {# required #}
    {{ element.form_id }} {# required #}
</form>