{#
/**
 * @file
 * Gavias's theme implementation to display a single Drupal page.
 */
#}
{% include directory ~ '/templates/page/parts/message.html.twig' %}
<div class="body-page-content">
	<div class="body-page gva-body-page">
		{% include directory ~ '/templates/page/parts/preloader.html.twig' %}
	   {% include header_skin %}
		
		{% if page.breadcrumbs %}
			<div class="breadcrumbs">
				{{ page.breadcrumbs }}
			</div>
		{% endif %}
		<div class="flex">
			{% if page.sidebar_left_article %}
				<style>
					#sidebar-container{
						display: block;
					}
				</style>
			{% endif %}
				<div class="row" id="body-row">
					<div id="sidebar-container" class="sidebar-collapsed d-md-block">
						<ul class="list-group">
							{# <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed d-none">
							</li> #}
							<div href="#submenu1" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/article' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/{{current_path == '/article' ? 'iconFileBold.png' : 'iconFileRegular.png'}}" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8"><a href="/article">Articles</a></span>
									<span href="#submenu1" data-toggle="collapse" aria-expanded="false" class="{{current_path == '/article' ? 'active' : ''}} submenu-icon ml-auto d-none" style="flex-grow: 1"></span>
								</div>
							</div>
							<div id='submenu1' class="collapse sidebar-submenu d-none">
								{% for item in taxonomy_article %}
									<a href="{{base_url}}/article?category={{item.id}}" class="list-group-item list-group-item-action  {{category_param == item.id ? 'active':''}}">
										<span class="menu-collapsed">{{item.name}}</span>
									</a>
								{% endfor %}
							</div>
	
							<div href="#submenu5" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/bookcase' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/{{current_path == '/bookcase' ? 'iconBookBold.png' : 'iconBookRegular.png'}}" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8"><a href="/bookcase">Bookcase</a></span>
									<span href="#submenu5" data-toggle="collapse" aria-expanded="false" class="{{current_path == '/bookcase' ? 'active' : ''}} submenu-icon ml-auto d-none" style="flex-grow: 1"></span>
								</div>
							</div>
							<div id='submenu5' class="collapse sidebar-submenu d-none">
								{% for item in taxonomy_bookcase %}
									<a href="{{base_url}}/bookcase?category={{item.id}}" class="list-group-item list-group-item-action {{category_param == item.id ? 'active':''}}">
										<span class="menu-collapsed">{{item.name}}</span>
									</a>
								{% endfor %}
							</div>
	
							<div href="#submenu2" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/wordbench' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/{{current_path == '/wordbench' ? 'iconWordbenchBold.png' : 'iconWordbenchRegular.png'}}" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8"><a href="/wordbench">Wordbench</a></span>
									<span href="#submenu2" data-toggle="collapse" aria-expanded="false" class="{{current_path == '/wordbench' ? 'active' : ''}} submenu-icon ml-auto d-none" style="flex-grow: 1"></span>
								</div>
							</div>
							<div id='submenu2' class="collapse sidebar-submenu d-none">
								{% for item in taxonomy_wordbench %}
									<a href="{{base_url}}/wordbench?category={{item.id}}" class="list-group-item list-group-item-action {{category_param == item.id ? 'active':''}}">
										<span class="menu-collapsed">{{item.name}}</span>
									</a>
								{% endfor %}
							</div>
							<hr>
							
							<a href="#submenu3" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/faqs' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/Files.png" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 9">FAQs</span>
								</div>
							</a>
	
							<a href="#submenu4" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/about-us' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/Star.png" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8">About Us</span>
									<span href="#submenu4" data-toggle="collapse" aria-expanded="false" class="{{current_path == '/about-us' ? 'active' : ''}} submenu-icon ml-auto d-none" style="flex-grow: 1"></span>
								</div>
							</a>
							<div id='submenu4' class="collapse sidebar-submenu d-none">
								{% for item in taxonomy_wordbench %}
									<a href="{{base_url}}/article?category={{item.id}}" class="list-group-item list-group-item-action ">
										<span class="menu-collapsed">{{item.name}}</span>
									</a>
								{% endfor %}
							</div>
						</ul>
						<ul class="list-group">
							<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed d-none">NETWORK SITES
							</li>
							<a href="#submenu1" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/courses' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/PenNib.png" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8">Courses</span>
								</div>
							</a>
							<a href="#submenu1" data-toggle="" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start {{current_path == '/factory-automation' ? 'active' : ''}}">
								<div class="d-flex w-100 justify-content-start align-items-center">
									<img src="{{theme_path}}/images/Cpu.png" style="flex-grow: 1" alt="">
									<span class="menu-collapsed" style="flex-grow: 8">Factory Automation</span>
								</div>
							</a>
						</ul>
					</div>
				</div>
			<div style="width:100%">
				<div role="main" class="main main-page">
				
					<div class="clearfix"></div>
					{% if page.slideshow_content %}
						<div class="slideshow_content area">
							{{ page.slideshow_content }}
						</div>
					{% endif %}	

					{% if page.help %}
						<div class="help show">
							<div class="container">
								<div class="control-panel"><i class="fa fa-cogs"></i></div>
								<div class="content-inner">
									{{ page.help }}
								</div>
							</div>
						</div>
					{% endif %}

					{% if page.fw_before_content %}
						<div class="fw-before-content area">
							{{ page.fw_before_content }}
						</div>
					{% endif %}
					
					<div class="clearfix"></div>
					{% if page.before_content %}
						<div class="before_content area">
							<div class="container">
								<div class="row">
									<div class="col-xs-12">
										{{ page.before_content }}
									</div>
								</div>
							</div>
						</div>
					{% endif %}
					
					<div class="clearfix"></div>
					
					<div id="content" class="content content-full">
						<div class="container-full">
							{% include directory ~ '/templates/page/main-no-sidebar.html.twig' %}
						</div>
					</div>

					{% if page.highlighted %}
						<div class="highlighted area">
							<div class="container">
								{{ page.highlighted }}
							</div>
						</div>
					{% endif %}

					{% if page.after_content %}
						<div class="area after_content">
							<div class="container-fw">
							<div class="content-inner">
									{{ page.after_content }}
							</div>
							</div>
						</div>
					{% endif %}
					
					{% if page.fw_after_content %}
						<div class="fw-before-content area">
							{{ page.fw_after_content }}
						</div>
					{% endif %}

				</div>
			</div>
		</div>

	</div>

	{% include directory ~ '/templates/page/footer.html.twig' %}
</div>